@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

body {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 90%;
    margin: 0em auto;
    justify-content: center;
    padding-top: 2em;
}
.card-container {
    display: flex;
    width: 18.75em;
    flex-direction: column;
    font-family: "Jaldi";
    color: #0079FF;
    background-color: #FBFDCE;
    margin: 1.25em 0.93em;
    border-radius: 1.25em;
   
}
.img-container {
    width: 18.75em;
    height: 18.75em;
    position: relative;
    border-radius: 1.5em;
    overflow: hidden;
  }

.image-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5em;

}
.card-title {
    font-weight: 700;
    font-size: 25px;
    padding: 0em 0em 0em 1.25em;
    margin: 0.625em 0em 0em 0em;
}

.card-location {
    font-weight: 400;
    font-size: 20px;
    padding: 0px 0px 0.625em 1.25em;
    margin: 0.625em 0em 0.313em 0em;

}

.pagination{
    margin: 2em;
    text-align: center;
}

.pagination a{
    color: rgba(0, 121, 255, 1);
    text-decoration: none;
    font-size: 1.5em;
}
.pagination a.current-page{
    font-size: 2em;
}
