header {
    margin:0px;
    padding:0px;
    
}

.home-register-container{
    background-color:white;
    display: flex;
    width: 90%;
    height: 10%;
    margin: 0em auto;
    justify-content: space-between;
    border-bottom: #0079FF solid 0.5px;
    align-items: center;
}


.logo {
    height: 65%;
}

.nav-bar-right-div{
    height: 100% ;
    display:flex;
    width:60%;
    justify-content: flex-end; 
    align-items: center;
    margin-right:0px;
}
.search {
    background-color: #FBFDCE;
    color: #0079FF;
    border-radius: 22px;
    border:none;
    width: 200px;
    height: 40px;
    padding-left: 10px;
}

::placeholder {
    color: #0079FF; /* Cambia el color del placeholder a rojo */
}


.search-button{
    background-image: url(/public/assets/Glass-icon.svg);
    border:none;
    background-color:transparent;
}

.nav-bar-search-input-container{
    width: 28%;
    display:flex;
    flex-direction: row;

}

.register-button{
   margin-left:0.3em;
}

