@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
.color{
    color: #ff0060;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 15px;
}

.txt_line  {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

  }
  .txt_line::after {
    content: ""; 
    display: block; 
    border-bottom: 3px solid #ff0060 ; 
    width:  250px;  
}


form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px #fbfdce;
    border-radius: 20px;
    margin: auto;
    height: 300px;
    width: 275px;
    padding: 20px;
      
}
.input {
    justify-content: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    background: #fbfdce;
    color: #0079ff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25) inset;
}
input::placeholder{
    color: #0079ff;
}

.btn-aceptar{
    background-color: #00dfa2; 
    border-top: 2em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 17px;
    color:white;   
 }
 .btn-cancelar{
    background-color: #ff0060;
    border-top: 2em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px 17px;
    color:white; 
 }
.btn-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-right: 15px;
    
}