.nav{
    background-color: white;
}
.nav-bar-container{
    height: 9rem;
    background-color: white;
    width: 99%;
    height: 94px;
    margin-left: 2vw;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    border-bottom: #0079FF solid 0.5px;
}

.dashboard-nav-bar-right-div{
    height: 40%;
    background-color: white;
    width: 50%;
    display: flex;
}

.dashboard-search-container{
    display:flex;
    flex-direction: row;
    margin-right: 18vw;
    width: 250px;
    align-items: baseline;

}
.dashboard-nav-link-container{
    border:solid 1px black;
    display: flex;
    justify-content: baseline;
}